@page "/equipment/"
@using CadsolidChallenge.Shared
@inject HttpClient Http

<h3>Equipamentos</h3>

@if (equipment == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <ul>
        @foreach (var eq in equipment)
        {
            <li>@eq.Name - @eq.Model</li>
        }
    </ul>
}

@code {
    private List<Equipment>? equipment;

    protected override async Task OnInitializedAsync()
    {
        equipment = await Http.GetFromJsonAsync<List<Equipment>>("api/equipments");
    }
}